@{ 
    ViewBag.Title = "Login";
}


    <div> 
       <p>Hi You are in the Login Page</p>
    </div>

@section Scripts{
    <script>
        alert("Hi! Youre in the login Page!!!!")
    </script>
    }