
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <div> 
       <p>Hi You are in the Login Page</p>
    </div>
</body>
</html>
