
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Posts Index</h1>
        <p>
            <a href="@Url.RouteUrl("Login")">Click Here</a> to login!
        </p>
    </div>
</body>
</html>
